= turbo_frame_tag :remote_modal, target: :_top do
  .modal.fade{"data-controller" => "modal"}
    .modal-dialog
      .modal-content
        .modal-header
          %h5.modal-title Parceria
          %button.btn-close{"aria-label" => "Close", "data-bs-dismiss" => "modal", type: "button"}
        = form_with model: partnership,
                    url: user_partnership_path(id: partnership.id),
                    method: :put,
                    html: { class: 'require-validation' }, validate: true do |f|
          .modal-body

            - if @message_error.present?
              %div{style: "color: red"}
                %ul
                  %li= @message_error

            .row
              .mb-3
                = f.label :title, class: 'col-sm-6 col-form-label'
                = f.text_field :title,
                            autofocus: true,
                            class: 'form-control'
                .letter-counter.mt-2.d-flex.justify-content-end

          .modal-footer
            %button.btn.btn-outline-secondary{"data-bs-dismiss" => "modal", type: "button"}
              Fechar
            = f.submit t('.confirm', default: t("helpers.submit.save")), class: 'btn btn-primary'
