= flash_message

.content-wrapper
  / Content
  .container-xxl.flex-grow-1.container-p-y
    %h4.fw-bold.py-3.mb-4
      Usuários
      %span.text-muted.fw-light / Organização

    .col-12.mb-4.order-0.mx-auto
      .card
        .row
          .col-8
            .card-body
              %h3.card-title.text-primary Convide seus funcionários 🎉
              %p.mb-4
                Envie o link de convite.
              .button-wrapper
                = button_to 'Link para Administradores', user_invites_path, class: 'btn btn-info', "data-turbolinks": "false", method: :post, params: {'invite[role_type]' => 'admin'}
                = button_to 'Link para Funcionários', user_invites_path, class: 'btn btn-success', "data-turbolinks": "false", method: :post, params: {'invite[role_type]' => 'employee'}
                = link_to 'Voltar', user_users_path, class: 'btn btn-primary', "data-turbolinks": "false"
          .col-4
            .card-body.pb-0.px-0.px-md-4
              = image_tag 'Documents-cuate.svg'
    .card.mb-4
      %h5.card-header Listagem de Links de Convites
      .card-body
        .table-responsive.text-nowrap
          %table.table.table-dark
            %thead
              %tr
                %th cargo
                %th situação
            %tbody.table-border-bottom-0
              - @invites.each do |invite|
                %tr
                  %td= I18n.t("enumerations.role_enum.role_types.#{invite.role_type}")
                  %td= invite.expires_at
