= flash_message

.content-wrapper
  / Content
  .container-xxl.flex-grow-1.container-p-y
    .row
      .col-md-8.mx-auto
        .card.mb-3.bg-primary
          .row.g-0
            .col-md-4
              = image_tag "New employee-pana.svg", class: 'card-img card-img-left'
            .col-md-8
              .card-body
                %h5.card-title Card title
                %p.card-text
                  This is a wider card with supporting text below as a natural lead-in to additional content.
                  This content is a little bit longer.
                %p.card-text
                  %small.text-muted Last updated 3 mins ago

    %h4.fw-bold.py-3.mb-4
      Usuários
    
    .card.mb-4
      %hr.m-0/
      .card-body
        .row.gy-3
          .col-lg-4.col-md-6
            = link_to 'Cadastrar', new_user_provider_customer_path, class: 'btn btn-primary', "data-controller": "turbo"

    .card.mb-4
      %h5.card-header Listagem de Usuários
      .card-body
        %div.mb-4
          %input#defaultFormControlInput.form-control{"aria-describedby" => "defaultFormControlHelp", :placeholder => "John Doe", :type => "text"}/
        .table-responsive.text-nowrap
          %table.table.table-dark
            %thead
              %tr
                %th Nome
                %th Email
            %tbody.table-border-bottom-0
              - @users.each do |user|
                %tr
                  %td= user.full_name
                  %td= user.email
                  %td= user.invitation
