= flash_message

= form_with model: @award,
            url: (@award.new_record? ? user_awards_path : user_award_path),
            html: { class: 'require-validation' }, validate: true do |f|

  .card.mb-4
    .card-body
      .mb-3
        = f.label :to_affiliate, class: 'col-sm-2 col-form-label'
        = f.text_area :to_affiliate,
                    class: 'form-control'
      .mb-3
        = f.label :to_lead, class: 'col-sm-2 col-form-label'
        = f.text_area :to_lead, class: 'form-control'
      .mb-3
        = f.label :rule, class: 'col-sm-2 col-form-label'
        = f.text_area :rule, class: 'form-control'
      .mb-3
        = f.label :business_cell_phone, class: 'col-sm-2 col-form-label'
        = f.text_field :business_cell_phone, class: 'form-control', placeholder: '(00) 00000-0000'

      .mt-2.mb-3
        = link_to 'Voltar', user_awards_path, class: 'btn btn-secondary'
        = f.submit t('.confirm', default: t("helpers.submit.save")), class: 'btn btn-dark'
