= flash_message

= form_with model: project,
            url: (project.new_record? ? user_provider_projects_path : user_provider_project_path(project)),
            html: { class: 'require-validation' }, validate: true do |f|
  - if @message_error.present?
    %div{style: "color: red"}
      %ul
        %li= @message_error

  .mb-3
    = f.label :title, class: 'col-sm-6 col-form-label'
    = f.text_field :title,
                autofocus: true,
                class: 'form-control'
    .letter-counter.mt-2.d-flex.justify-content-end

  .row
    .d-grid.gap-2.col-3.mx-auto.mb-3
      = f.submit t('.confirm', default: t("helpers.submit.save")), class: 'btn btn-secondary rounded-pill'
