= flash_message

.content-wrapper
  / Content
  .container-xxl.flex-grow-1.container-p-y
    %h4.fw-bold.py-3.mb-4
      Usuários
      %span.text-muted.fw-light / Organização
    .card.mb-4
      %hr.m-0/
      .card-body
        .row.gy-3
          .col-lg-4.col-md-6
            = link_to 'Link de Convite', user_provider_invite_links_path, class: 'btn btn-warning', "data-turbolinks": "false"
            = link_to 'Voltar', user_provider_providers_path, class: 'btn btn-primary', "data-turbolinks": "false"

      %h5.card-header Listagem de Convites
      .card-body
        %div.mb-4
          = search_form_for @q, url: user_provider_invitations_path	 do |f|
            = f.search_field :email_cont, class: 'form-control', placeholder: "Pesquisar email"
        .table-responsive.text-nowrap
          %table.table.table-dark
            %thead
              %tr
                %th email
                %th cargo
                %th situação
            %tbody.table-border-bottom-0
              - @invitations.each do |invitation|
                %tr
                  %td= invitation.email
                  %td= invitation.state
                  %td= I18n.t("enumerations.role_enum.role_types.#{user.decorate.invitation.role_type}")
