= flash_message

= render partial: 'user/provider/manager/provider_menu', cache: true

.content-wrapper
  / Content
  .container-xxl.flex-grow-1.container-p-y
    = render partial: 'user/provider/manager/menu', cache: true
    .col-12.card
      .mb-4
        .card-body
          .demo-inline-spacing
            = link_to new_user_provider_manager_project_folder_path(@project), "data-controller": "turbo" do
              %button.btn.btn-dark 
                %i.menu-icon.tf-icons.bx.bx-folder
                Adicionar Arquivo

            = link_to new_user_provider_manager_project_task_path(@project, folder_id: @folder) do
              %button.btn.btn-warning 
                %i.menu-icon.tf-icons.bx.bx-purchase-tag 
                Adicionar Atividade

            - if @folder.foldable.present?
              = link_to user_provider_manager_project_folder_path(@project, @folder.foldable) do
                %button.btn.btn-secondary 
                  %i.menu-icon.tf-icons.bx.bx-arrow-back
                  = @folder.foldable.title
            - else
              = link_to user_provider_manager_project_folders_path(@project) do
                %button.btn.btn-secondary 
                  %i.menu-icon.tf-icons.bx.bx-arrow-back
                  = @project.title
      - unless @folders.present? || @tasks.present?
        = image_tag "Documents-cuate.svg", style: 'height: 500px;'
      - else
        .card-body
          .row
            - @folders.each do |folder|
              .col-3
                = link_to user_provider_manager_project_folder_path(@project, folder) do
                  .card.border.border-dark 
                    .row.g-0
                      .col-md-2.mx-auto
                        .img-fluid.d-flex.mx-4.my-4
                          %i.menu-icon.tf-icons.bx.bx-folder{style: 'font-size: 2.5em;'}
                      .col-md-10
                        .card-body
                          .p.card-text
                            = folder.title
                          .p.card-text 
                            .small.text-muted
                              = time_ago_in_words(folder.created_at)
        .card-body
          .card
            .table-responsive.text-nowrap
              %table.table.table-dark
                %thead.table-light
                  %tr
                    %th Título
                    %th Criador
                    %th
                %tbody.table-border-bottom-0
                  - @tasks.each do |task|
                    %tr
                      %td
                        %strong= task.title       
                      %td
                        %span.badge.bg-label-primary.me-1= task.creator.full_name
                      %td
                        = time_ago_in_words(task.created_at)
                      %td
                        = link_to t("helpers.show"), user_provider_manager_project_task_path(@project, task),
                                                    class: 'btn btn-danger btn-sm'
