= form_with url: authorize_path,
            method: :post,
            html: { class: 'require-validation' }, validate: true do |form|
  .px-5.pb-5
    .row.justify-content-between.pb-5
      .card-body#form_fields
        .row
          .col-xl-6.col-md-10.col-sm-12
            .row.mb-4
              .col-md-12
                = form.label :password, class: 'form-label uppercase'
                = form.password_field :password,
                                  required: true,
                                  maxlength: 100,
                                  class: 'form-control'
                .letter-counter.mt-2.d-flex.justify-content-end
          .col-xl-6.col-md-10.col-sm-12
            .row.mb-4
              .col-md-12
                = form.label :password_confirmation, class: 'form-label uppercase'
                = form.password_field :password_confirmation,
                                  required: true,
                                  maxlength: 300,
                                  class: 'form-control'
                .letter-counter.mt-2.d-flex.justify-content-end     
                .row.justify-content-between.pb-5
            = form.hidden_field :email_security_key, value: @email_security_key
      .d-flex.flex-row-reverse.bd-highlight.justify-content-center.gap-4.py-3
        = form.submit t('.confirm', default: t("helpers.submit.save")),
                  class: 'btn btn-primary btn-xl'
