= flash_message

= form_with model: @ask_for_testimony,
            url: user_ask_for_testimony_path(@ask_for_testimony),
            method: :put,
            html: { class: 'require-validation' }, validate: true do |f|

  .card.mb-4
    .card-body
      .mb-3
        = f.label :title, class: 'col-sm-2 col-form-label'
        = f.text_field :title,
                    class: 'form-control'
      .mb-3
        = f.label :description, class: 'col-sm-2 col-form-label'
        = f.text_area :description, class: 'form-control'

      .mt-2.mb-3
        = f.submit t('.confirm', default: t("helpers.submit.save")), class: 'btn btn-dark'
