= flash_message

.content-wrapper
  / Content
  .container-xxl.flex-grow-1.container-p-y
    %h4.fw-bold.py-3.mb-4
      Clientes
    .card.mb-4
      %hr.m-0/
      .card-body
        .row.gy-3
          .col-lg-4.col-md-6
            = link_to 'Cadastrar', new_user_group_path, class: 'btn btn-primary', "data-controller": "turbo"

      .card-body
        %div.mb-4
          = search_form_for @q, url: user_groups_path do |f|
            = f.search_field :title_or_creator_full_name_cont, class: 'form-control', placeholder: 'Pesquisar por nome ou criador'
        .table-responsive.text-nowrap
          %table.table.table-dark
            %thead
              %tr
                %th Nome
                %th Criador
                %th
            %tbody.table-border-bottom-0
              - @groups.each do |group|
                %tr
                  %td
                    %strong= group.title
                  %td
                    %strong= group.creator.try(:full_name)
                  %td
                    = link_to t("helpers.show"), user_manager_group_tasks_path(group),
                                                  class: 'btn btn-danger btn-sm'
                  

                
              