= flash_message

= form_with model: @task,
            url: (@task.new_record? ? user_provider_manager_project_tasks_path(@project) : user_provider_manager_project_task_path(@project, @task)),
            html: { class: 'require-validation' }, validate: true do |f|

  .card.mb-4
    .card-body
      - if @folder.present?
        = f.hidden_field :folder_id,  value: @folder.id
      .mb-3
        = f.label :title, class: 'col-sm-2 col-form-label'
        = f.text_field :title,
                    class: 'form-control'

      .mb-3
        = f.label :link, class: 'col-sm-2 col-form-label'
        = f.text_field :link,
                    class: 'form-control'

      .mb-3
        = f.label :description, class: 'col-sm-2 col-form-label'
        = f.rich_text_area :description

      .mb-3
        = f.label :files, class: 'col-sm-2 col-form-label'
        = f.file_field :files, accept: 'image/png,image/jpeg', class: 'form-control'

    .row
      .d-grid.gap-2.col-3.mx-auto.mb-3
        = f.submit t('.confirm', default: t("helpers.submit.save")), class: 'btn btn-secondary rounded-pill'

